<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Signout page</title>
    <meta name="description" contents="">
    <meta name="viewport" contents="width=device-width, intia-scale=1">
<style>
           *{
margin:0 px;
padding:0px;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{
display: flex;
justify-content: center;
align-items:center;
min-height:100vh;
background-size:cover;
background-position:center;
}

</style>
</head>
<body id="bg" style="background-image: url('{% static 'image/image1.jpg'%}'); no-repeat;">
        <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {%endfor%}
    </div>
</body>
</html>